# This is a default configuration file
# The format is "key = value"

# server listen port
listen_port = 7758

# server max connection
max_connection = 20000

# workers
workers = 1

# response type [CONTENT|CHUNKED|MIX]
response_type = MIX

# chunk ratio [0-100], active when response_type is MIX
chunk_ratio = 10

############## CONTENT RESPONSE SETTING #############
# min latency[ms]
min_latency = 50

# max latency[ms]
max_latency = 100

# min response size[byte]
min_response_size = 100

# max response size[byte]
max_response_size = 200
############## CONTENT RESPONSE SETTING #############

############## CHUNK RESPONSE SETTING #############
# min chunk latency[ms]
min_chunk_latency = 50

# max chunk latency[ms]
max_chunk_latency = 100

# min chunk response size[byte]
min_chunk_response_size = 100

# max chunk response size[byte]
max_chunk_response_size = 200

# chunk blocks
chunk_blocks = 2
############## CHUNK RESPONSE SETTING #############

# server timeout[ms]
timeout = 10000

# log level [TRACE|DEBUG|INFO|WARN|ERROR|FATAL]
log_level = INFO

# log filename
log_filename = /tmp/httpd_mock_log
